*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}


button{
  
    text-align: center;
    width: 40px;
    height: 40px;
    inset: 0;
    border-radius:5%;
    outline: none;
    background-color: white;
    color: black;

   
   
}
input{
    padding-left: 20px;
    margin-top: 20%;
    margin-left: 50%;
    inset: 0;
    width: 200px;
    height: 40px;
    border-radius: 5%;
    color: black;
    background-color: white;
  
  

}